*.tlog
*.layout
*.sdf
*.opendb
*.idb
*.obj
*.log
*.vcxproj.user
*.pdb
*.pch
*.obj*
*.ipch
*.suo
*.exe
*.ilk
*.code-workspace
.vscode/*
.vs/*
OTHER/*
Driver1/*
d1_xm_fix/*
dump_music/*
GAME/*
Ghidra/*
ART/*
symdump-decompile/*
PSX_BINS/*
PSX_BINS_ITALIAN/*
psyq/*
TDR/*
xmplayer/*
game_rebuild/*
src_rebuild/dependencies/*
src_rebuild/.vs/*
src_rebuild/bin/*
src_rebuild/obj/*
src_rebuild/*.make
src_rebuild/Makefile
/src_rebuild/REDRIVER2.vcxproj.filters
/src_rebuild/REDRIVER2.vcxproj
/src_rebuild/REDRIVER2.sln
/src_rebuild/PsyX/Psy-X.vcxproj.filters
/src_rebuild/PsyX/Psy-X.vcxproj
/src_rebuild/PsyX/obj/Release/Psy-X.vcxproj.FileListAbsolute.txt
/src_rebuild/PsyX/obj/Debug/Psy-X.vcxproj.FileListAbsolute.txt
/src_rebuild/PsyX/bin/Release_dev/Psy-X.lib
/src_rebuild/PsyX/bin/Release/Psy-X.lib
/src_rebuild/lib/Release_dev/jpeg.lib
/src_rebuild/lib/Release/jpeg.lib
/src_rebuild/PsyX/bin/Debug/Psy-X.lib
/src_rebuild/lib/Debug/jpeg.lib
